<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% if page_title is defined %}
                {{ page_title }}
                |
            {% endif %}SchoolCrm</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="http://pre11.deviantart.net/3944/th/pre/i/2012/122/6/9/cookie_monster_by_neorame-d4yb0b5.png"/>
        <!--bootstrap-->
        <!--Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
        {# <link rel="stylesheet" href="{{ base_url()}}/css/css.css "/> #}
    </head>

    <body>
       <div class="flex-container">
            {% block content %}{% endblock %}
        </div>

        <!--Jquery(Bootstrap dependency)-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <!--Bootstrap Plugins-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script>
            var script = document.createElement('script');
            script.src = "{{ base_url()}}/js/js.js?" + (
            new Date).getTime();
            document.getElementsByTagName('head')[0].appendChild(script);
            ///
            var x = document.createElement("LINK");
            x.setAttribute("id", "CssSheet");
            x.setAttribute("rel", "stylesheet");
            x.setAttribute("type", "text/css");
            x.setAttribute("href", "{{ base_url()}}/css/css.css?}" + new Date());
            document.getElementsByTagName('head')[0].appendChild(x);
        </script>

    </body>

</html>